<div class="background1">
  <div class="content">
    <input (keyup)="searchTerm$.next($event.target.value)" placeholder="Type to search...">
    <select *ngIf="results" (change)="onFilter($event.target.value)" name="choice">
      <option *ngFor="let result of results | filter">{{result.language}}</option>
    </select>
  </div>
  <button type="button" class="favbtn btn btn-primary" (click)="navFavourite()">Check Favourites</button>
  <div *ngIf="results" class="userinfo_middle_new" id="vasya">
    <div class="info-user" *ngFor="let result of results; let i = index">
      <div class="info-user-content">
        <div class="info">
          <img src={{result.owner.avatar_url}} alt="your image" height="50" width="50"
            style="margin-left:-50%; margin-top: 40%; ">
        </div>
      </div>

      <div class="info">
        <p class="title">Project name:</p>
        <p class="description">{{ result.name }}</p>
      </div>

      <div class="info">
        <p class="title"> Language:</p>
        <p class="description">{{ result.language}} </p>
      </div>

      <div class="info">
        <p class="title"> Link:</p>
        <p class="description">{{ result.html_url}}</p>
      </div>

      <div class="info">
        <p class="title"> Rating:</p>
        <p class="description">{{result.stargazers_count}}</p>
      </div>

      <div class="info">
        <p class="title">Project Description:</p>
        <p class="description">{{result.description}}</p>
      </div>
      <div class="add">
        <button type="button" class="btn btn-success" for="toggle" id="tor" (click)="addToStorage(result)">Add to
          favourite</button>
      </div>
    </div>
  </div>

  <div *ngIf="uniqueArray" class="userinfo_middle_new" id="kirk">
    <div class="info-user" *ngFor="let result of uniqueArray; let i = index">
      <div class="info-user-content">
        <div class="info">
          <img src={{result.owner.avatar_url}} alt="your image" height="50" width="50"
            style="margin-left:-50%; margin-top: 40%;">
        </div>
      </div>

      <div class="info">
        <p class="title">Project name:</p>
        <p class="description">{{ result.name }}</p>
      </div>

      <div class="info">
        <p class="title"> Language:</p>
        <p class="description">{{ result.language}} </p>
      </div>

      <div class="info">
        <p class="title"> Link:</p>
        <p class="description">{{ result.html_url}}</p>
      </div>

      <div class="info">
        <p class="title"> Rating:</p>
        <p class="description">{{result.stargazers_count}}</p>
      </div>
      <div class="info">
        <p class="title">Project Description:</p>
        <p class="description">{{result.description}}</p>
      </div>
      <div class="add">
        <button type="button" class="btn btn-success" for="toggle" id="tor" (click)="addToStorage(result)">Add to
          favourite</button>
      </div>
    </div>
  </div>
</div>