.welcome-header{
  text-align: center;
  padding-top: 1%;
  background-color:#000000d9;
  width: auto;
  margin-top: auto;
  color: white;
}


/* .background1{
  background-color: lightcyan;
} */
input{
  margin: 2%;
  width: 20%;
}

.favbtn{
  position: absolute;
  right: 2%;
  top: 7%;
}

.info-user {
  color: white;
  background: #0000009e;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  margin-top: 2%;
  width: 100%;
  padding: 2%;
  border-radius: 2px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.title {
  color: #b7b7b7;
  font-size: 1em;
}

.info {
  width: 100%;
  margin-top: 2%;
}

.userinfo_middle_new {

  display: flex;
  flex-direction: column;
  width: 100%;

}